@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MotivaSansBlack';
  src: url('./fonts/MotivaSans/MotivaSansBlack.woff.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MotivaSansBold';
  src: url('./fonts/MotivaSans/MotivaSansBold.woff.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MotivaSansExtraBold';
  src: url('./fonts/MotivaSans/MotivaSansExtraBold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MotivaSansLight';
  src: url('./fonts/MotivaSans/MotivaSansLight.woff.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MotivaSansMedium';
  src: url('./fonts/MotivaSans/MotivaSansMedium.woff.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MotivaSansRegular';
  src: url('./fonts/MotivaSans/MotivaSansRegular.woff.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MotivaSansThin';
  src: url('./fonts/MotivaSans/MotivaSansThin.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FinkHeavy';
  src: url('./fonts/FinkHeavy/FinkHeavy Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

.relative>div:hover+span {
  opacity: 1;
  pointer-events: auto;
}

.relative>span {
  bottom: -3.5rem;
  /* adjust the value to position the tooltip */
  left: 50%;
  /* center the tooltip horizontally */
  transform: translateX(-50%);
}